<html>
  <head>
    <style type="text/css">
      <!--
      table { 
        border-spacing: 0ex;
        border-color: black;
        border-width: 0 0 1px 1px;
        border-style: solid;
        margin: 1ex;
        font-size: 90%;
        width: 95%;
      }
      td, th { 
        margin: 0ex; 
        padding: 0ex;
        border-color: black;
        border-width: 1px 1px 0 0;
        border-style: solid;
        width: 7ex;
        text-align: right;
      }
      td.grey {
        background-color: #CCC;
      }
      th { padding: 0.2ex 1ex; background-color: #DDD; }
      div { 
        border: 0ex solid black; 
        margin: 0; 
        padding: 0;
        text-align: right;
        width: 100%;
      }
      div.habit {
        height: 1ex;
        margin: 1ex 0ex;
        background-color: red;
      }
      div.notdone {
        background-color: blue;
      }
      -->
    </style>
  </head>
  <% startday = @done.min(:day) - @done.min(:day).wday %>
  <% endday = @done.max(:day) + (6 - @done.max(:day).wday) %>

  <body>
    <table border="1">
      <tr>
        <% for day in startday..endday %>
          <% if (day.wday % 7) == 0 %>
            <%= "</tr><tr>" %>
          <% end %>
          <%= "<td id=" + day.to_s + ">" %>
            <%= "<div>" + day.to_s + "</div>" %>
            <% @habits.each do |habit| %>
              <% if @done.first(:day => day, :habit => habit.name) %>
                <%= "<div class='habit #{habit.name}' ></div>" %>
                <% else %>
                  <%= "<div class='habit #{habit.name} notdone' ></div>" %>
                  <% end %>
                <% end %>
                <%= "</td>" %>
            <% end %>
          </tr>
        </table>
      </body>
    </html>
